@import url('https://fonts.googleapis.com/css?family=Limelight');

.App-header {
  position: fixed; 
  left:0;
  top:0;
  background-color: #222;
  padding: 20px;
  color: white;
  float:left; 
  width: 20%;
  box-shadow: 5px 11px lightgray;
}

/* HEADER */
#introduction p{
    list-style-type:none;
    margin-bottom: 5%;
    margin-left:20%;
}

#header-menu li {
    border-bottom: 2px solid #1a8cff;
    display: block;
}

#header-menu a{
    color:white;
}

.end-menu{
    margin-left:3%;
    position:fixed; 
    margin-top:10%;
}

/* INTRODUCTION */
#introduction{
    background-image: url("/header.png");
    background-size:120% 550px;
    background-repeat: no-repeat;
    height:550px;
    width:100%; 
}

#introduction p{
    padding-top:5%;
    padding-left:50%;
    color: white;
    font-size: 2rem;
    font-family: 'Limelight', cursive;
}

/* BODY */
body{
    margin-left:12.5%;
    margin-right:0.5%;
}

a {
    text-decoration:none;
}

li {
    list-style-type:none;
    margin-bottom: 11px;
}

.body h1{
    font-size:30px;
    font-width:bold;
    font-family: 'Limelight', cursive;
    color: green;;
}

.Main{
    padding:10px;
    margin-bottom:10px;
}

/* Different Sections */
#Intro {
    background-color:#e6ffff;
}

#Skills{
    background-color:#ccffcc;
}

#Exp{
    background-color:#e6f2ff;
}

#Edu{
    background-color:#e6fffa;
}

#Goal{
    background-color:#e6f5ff;
}

#Resume{
    text-align:center;
    background-color:#99ff99;
    padding: 20px;
}

@media screen and (max-width:700px){
	.App-header{
		position:relative;
		float: none;
		width:100%;
		overflow:cover;
	}

	#header-menu li {
		text-align:center;
	}

	body {
		margin:0;
	}

	#introduction{
		background-size:100% 200px;
		background-repeat: no-repeat;
		width:100%; 
		height:200px;
	}

	#introduction p{
		list-style-type:none;
		margin:0;
		font-size:1rem;
	}
}
